@using onlineBookStore.Models
@model List<Category>

@{
    ViewBag.Title = "CategoryTable";
Layout = "~/Views/Shared/_Admin.cshtml";
}

<!DOCTYPE html>
<html>
<head>
   <title></title>
    <link href="~/bootstrap.css" rel="stylesheet" />
    <script src="~/bootstrap.js"></script>


</head>
<body class="skin-blue sidebar-mini">
    <div class="wrapper">
        @Html.Partial("~/Views/Shared/_AdminSideBar.cshtml")
        <!-- Content Wrapper. Contains page content -->
        <div class="content-wrapper">
            <!-- Content Header (Page header) -->
            <!-- Main content -->
            <section class="content-header">
                <h1>
                    Dashboard
                    <small>Control panel</small>
                </h1>
                <ol class="breadcrumb">
                    <li><a href="/Home/LogOut"><i class="fa fa-dashboard"></i>Log Out</a></li>
                    <li><a href="/Admin/Panel"><i class="fa fa-dashboard"></i> Home</a></li>
                    <li class="active">Dashboard</li>
                </ol>
            </section>
            <section class="content">
                <div class="row">
                    <div class="col-xs-12">
                        <div class="box">
                            <div class="box-header">
                                <h3 class="box-title">Data of All Categories</h3>
                                <form action="/Admin/SearchCategory" method="get" class="col-sm-4 pull-right">
                                    <div class="input-group">
                                        <input type="text" name="na" class="form-control" placeholder="Search By Name" />
                                        <span class="input-group-btn">
                                            <button type='submit' name='search' id='search-btn' class="btn btn-flat"><i class="fa fa-search"></i></button>
                                        </span>
                                    </div>
                                </form>
                            </div><!-- /.box-header -->
                            <div class="box-body">
                                <table id="example1" class="table table-bordered table-striped">
                                    <thead>
                                        <tr>
                                            <th>Category Id</th>
                                            <th>Categry Name</th>
                                           <th>Action</th>
                                        </tr>
                                    </thead>
                                    <tbody>

                                        @foreach (var u in Model)
                                        {
                                            <tr>
                                                <td>@u.Id</td>
                                                <td>@u.name</td>
                                                <td>
                                                    <div class="btn-group">
                                                        <a class="btn btn-primary" href="/Admin/UpdateCategoryView?cId=@u.Id">Update</a>
                                                        <a class="btn btn-danger" href="/Admin/DeleteCategoryView?cId=@u.Id">Delete</a>
                                                    </div>
                                                    @*@Html.ActionLink("Update", "UpdateCategoryView", new { cId = u.Id })||@Html.ActionLink("Delete", "DeleteCategoryView", new { cId=u.Id })*@
                                                </td>
                                            </tr>
                                        }
                                    </tbody>
                                    <tfoot>
                                        <tr>
                                            <th>Category Id</th>
                                            <th>Categry Name</th>
                                            <th>Action</th>
                                        </tr>
                                    </tfoot>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            </div>
         <!-- /.Left col -->
                    <!-- right col (We are only adding the ID to make the widgets sortable)-->
                    <footer class="main-footer">
                        <div class="pull-right hidden-xs">
                            <b>Version</b> 2.0
                        </div>
                        <strong>Copyright &copy; 2014-2015 <a href="#">BestSellers</a>.</strong> All rights reserved.
                    </footer>

                    <!-- Add the sidebar's background. This div must be placed
                    immediately after the control sidebar -->
                    <div class='control-sidebar-bg'></div>
                </div><!-- ./wrapper -->

</body>
</html>
