@{
    ViewBag.Title = "About";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>
<html>

<head>
    <title></title>
    <link href="bootstrap.css" rel="stylesheet" />
    <script src="bootstrap.js"></script>
</head>
<body >
    <div class="container">
        <div class="row" style="background-color: #ffffff;padding-top:7em; padding-bottom: 6em;padding-left:3em">
            <div class="col-sm-8" style="background-color:#ffffff">
                <fieldset style="border-color: #816f0c;background-color: #ffffff">
                    <legend class="text-center header thumbnail" style="font-size: 20px; color: #816f0c; border-color: #816f0c; font-family: Castellar">About Us</legend>
                    <p style="font-size:15px;font-family:Calibri">We are a growing Texas-based company and we got our start by selling books five years ago from our garage. We love to read and discovered that we could share our hundreds of books with others by selling them online.</p>
                    <p style="font-size:15px;font-family:Calibri"> Our goal is to give a second life to our books by getting them in the hands of readers across the globe. Since then, we've more than doubled our inventory each year, allowing us to expand to our warehouse in Houston. Our inventory is currently well over 300,000 books and we sell on 10 different online marketplaces with more being added regularly. We also have a second warehouse in London.</p>
                </fieldset>
            </div>

            <div class="image col-sm-3" style="margin-top:2em">
                <img src=~/Content/themes/base/images/image13.jpg style="width: 90%"  class="thumbnail"/>
            </div>

            <div class="col-sm-8" style="margin-top:3em">
                <fieldset style="border-color: #816f0c;background-color: #ffffff">
                    <legend class="text-center header thumbnail" style="font-size: 20px; color: #816f0c; border-color: #816f0c; font-family: Castellar">BookStore Terms</legend>
                    <p style="font-size:15px;font-family:Calibri">We guarantee the condition of every book as it's described on our web sites. If you're dissatisfied with your purchase (Incorrect Book/Not as Described/Damaged) or if the order hasn't arrived, you're eligible for a refund within 30 days of the estimated delivery date. If you've changed your mind about a book that you've ordered, please use the Ask bookseller a question link to contact us and we'll respond within 2 business days.</p>
                </fieldset>
            </div>


            <div class="image col-sm-3" style="margin-top:3em">
                <img src=~/Content/themes/base/images/image12.jpg style="width: 90%" class="thumbnail" />
            </div>

            <div class="col-sm-8" style="margin-top:3em">
                <fieldset style="border-color: #816f0c; background-color: #ffffff; margin-top: 8px">
                    <legend class="text-center header thumbnail" style="font-size: 20px; color: #816f0c; border-color: #816f0c; font-family: Castellar">Shipping Terms</legend>
                    <p style="font-size:15px;font-family:Calibri">Orders usually ship same or next business day. If you place an expedited order for a heavy or over-sized book, we may contact you to request that you cover the extra shipping cost.</p>
                </fieldset>
            </div>
            <div class="image col-sm-3" style="margin-top:3em">
                <img src=~/Content/themes/base/images/image15.jpg style="width: 90%" class="thumbnail" />
            </div>

        </div>
    </div>

   
</body>
</html>
