@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>
<html>

<body>
    <div class="container">
        <div class="row" style="background-color: #ffffff;padding-top:6em; padding-bottom: 3em">
            <div class="categories col-sm-4">
                <ul>
                    <li>
                        <h2 style="color: #5f133f; font-family: Castellar;font-weight:bolder">Categories</h2>
                        <ul style="color: #5f133f; font-family:Calibri; font-weight: bold;margin-bottom:4em">
                            <li style="border-bottom:solid;font-size:22px"><a href="#">Engineering</a></li>

                            <li style="border-bottom: solid; font-size: 22px"><a href="#">Medical</a></li>

                            <li style="border-bottom: solid; font-size: 22px"><a href="#">Mathematics</a></li>

                            <li style="border-bottom: solid; font-size: 22px"><a href="#">Computer Networks</a></li>
                            <li style="border-bottom: solid; font-size: 22px"><a href="#">Islamic Studies</a></li>
                            <li style="border-bottom: solid; font-size: 22px"><a href="#">Physics</a></li>
                            <li style="border-bottom: solid; font-size: 22px"><a href="#">Chemistry</a></li>
                        </ul>
                    </li>
                </ul>


                <div class="img-responsive col-snm-2" style="float:right;padding-right:3em;padding-bottom:3em">
                    <img src="~/Content/themes/base/images/image18.jpg" alt="" />
                </div>

            </div>

            <div class="product col-sm-5">
                <h3 style="color: #5f133f; font-family: Castellar; font-weight: bolder; padding-left: 4em">Book Details</h3>

                <div class="img-responsive" style="padding-top:2em;padding-left:6em;position:static;font-weight:bold;font-size:16px">
                    <img src="~/Content/images/image01.jpg" alt="" style="width:50%" /><br /><br />
                    <span> Book Name</span><br />
                    <span> Version</span><br />
                    <span> Author Name</span><br />
                    <span> Category</span><br />
                    <span> Class</span><br />
                    <span> Description</span><br />
                </div>
            </div>


            <div class="product col-sm-3" style="padding-right:3em">

                <div class="img-responsive" style="padding-top:9em">
                    <a href="#"><img src="~/Content/images/cart1.jpg.jpg" alt="" style="width:90%" /></a>
                </div>

                <div class="img-responsive" style="padding-top:9em">
                    <a href="#"><img src="~/Content/images/cart2.jpg.jpg" alt="" style="width:90%" /></a>
                </div>

            </div>
        </div>
    </div>


</body>
</html>
